@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* header style */
.header {
  background-image: linear-gradient(      180deg,      rgb(7, 2, 17),      rgba(7, 2, 17, 0) 100%    ),    url("../assets/images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1320px;
  color: white 100%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 25px ;
}

.header-paragraph {
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 32px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 177px;
}

.header-heading {
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 72px;
  letter-spacing: 0%;
  text-align: center;
  width: 632px;
  height: 246px;
  margin: 0 auto;
}

p {
  margin-bottom: 25px;
